.header-logo {
    margin-right: 0.75rem;
    width: 2.5rem;
    height: 2.3rem;
}

.large-logo {
    width: 100%;
    max-width: 8rem;
    height: auto;
}

.laptop-image {
    width: 100%;
    max-width: 20rem;
    height: auto;
}

@media screen and (max-width: 768px) {
    .large-logo {
        max-width: 6rem;
    }

    .laptop-image {
        max-width: 18rem;
    }
}

@media screen and (max-width: 400px) {
    .large-logo {
        max-width: 5rem;
    }

    .laptop-image {
        max-width: 14rem;
    }
}